@font-face {
    src: local("./fonts/Inter-Regular.ttf");
    font-family: Inter
}

html,
body {
    background-color: rgb(62, 65, 74);
    font-family: Inter, sans-serif;
    color: rgb(241, 241, 246)
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh
}

#campominado {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    border: 8px solid;
    border-color: rgb(37, 34, 30);
    background-color: rgb(241, 241, 246);
}