@font-face {
    src: local("./fonts/Inter-Regular.ttf");
    font-family: Inter
}

html,
body {
    background-color: rgb(62, 65, 74);
    font-family: Inter, sans-serif;
    color: rgb(241, 241, 246)
}

.container {
    display: grid;
    place-items: center;
    height: 200px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
}

#campominado {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    border: 10px solid;
    border-color: rgb(37, 34, 30);
    background-color: rgb(241, 241, 246)
}